<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>XML file</comment>
    <entry key="xmlMedRecordPath">data/medRecords.xml</entry>
    <entry key="patientsPath">data/patients.csv</entry>
    <entry key="doctorPath">data/doctors.csv</entry>
    <entry key="lastIdPatient">9</entry>
    <entry key="lastIdDoctor">6</entry>
    <entry key="lastIdMedRecord">2</entry>
</properties>