name: Build Images

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build backend
        run: |
          cd SpringBoot
          mvn clean package -DskipTests
          docker build -f Containerfile -t ghcr.io/s4nxez/medcenter-back:latest .
          docker push ghcr.io/s4nxez/medcenter-back:latest

      - name: Build frontend
        run: |
          cd ClienteJS
          docker build -f Containerfile -t ghcr.io/s4nxez/medcenter-front:latest .
          docker push ghcr.io/s4nxez/medcenter-front:latest
