name: Deploy

on:
  workflow_run:
    workflows: ["Build Images"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.CLIENT_ID }}
          oauth-secret: ${{ secrets.CLIENT_SECRET }}
          tags: tag:ci
          version: 1.42.0

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 100.68.170.113 >> ~/.ssh/known_hosts

      - name: Deploy
        run: |
          ssh sanxez@100.68.170.113 \
            "cd /opt/medcenter && podman pull ghcr.io/s4nxez/medcenter-back:latest && podman-compose up -d --replace"
