name: Deploy

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: Trust SSH host
        run: |
          mkdir -p ~/.ssh
            ssh-keyscan -H 100.68.170.113 >> ~/.ssh/known_hosts
    
      - name: Deploy
        run: |
          ssh sanxez@100.68.170.113 \
            "podman auto-update --rollback"
